<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/watch.css" />
</head>
<body>
  <div class="page-container">
    <div class="sidebar">
      <round-timer></round-timer>
      <score-board id="score-container"></score-board>
    </div>
    <div id="preview-container" class="content"></div>
  </div>
</body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/watch.js"></script>
</html>